<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="Content-Type" content="text/html"></meta>
<title>TeCaSa - Workshop details</title>
</head>
<body>
<h3>Details:</h3>
	Name:<span th:text="${workshopData.name}">Name</span><br/>
	Author:<span th:text="${workshopData.autor}">Author</span><br/>
	Objective <span th:text="${workshopData.objetivo}">Objective</span><br/>
	KeyWord <span th:text="${workshopData.keyWord}">KeyWord</span></li>
<br/>
    Activities:
    <div th:each="entry : ${workshopData.tareas}">
    	<ul>
    		<li>Name: <span th:text="${entry.name}">Name</span><br>
    			Description: <span th:text="${entry.descripcion}">Description</span><br>
    				Text to display: <span th:text="${entry.texto}">Text</span></li>
    	</ul>
    </div>
    <a th:href="@{/registrarActividad/{id}(id=${workshopData.id})}">Add activity</a><br>
    <a href="/">Return to home</a>
</body>
</html>
