<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>TeCaSa - List All</title>
</head>
<body>
	<h3>Lista de Workshops</h3>
	<div>

		<ul>
			<div th:each="entry : ${workshopAutor}">
				<li><span><bold>Name: </bold></span><span
					th:text="${entry.name}">Nombre</span><br /> <span><bold>Author:</bold>
				</span><span th:text="${entry.autor}">Autor</span><br /> <span><bold>Category:</bold>
				</span><span th:text="${entry.categoria}">Categoria</span><br /> <a
					th:href="@{/detalleWork/{id}(id=${entry.id})}">Ver detalles</a><br />
				</li>
			</div>

		</ul>
	</div>
</body>
</html>