<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>TeCaSa - List All</title>
</head>
<body>
	<h3>List of Workshops oficial</h3>
	<div>

		<ul>
			<div th:each="entry : ${workshop}">
				<li>
				<span><bold>Name: </bold></span><span
					th:text="${entry.name}">Nombre</span><br/>
				<br/>
				<a th:href="@{/editarWork/{id}(id=${entry.id})}">Editar</a><br/>
				<a th:href="@{/detalleWork/{id}(id=${entry.id})}">Ver detalles</a><br/>
				<a th:href="@{/word/{id}(id=${entry.id})}">Generar un word</a><br/>
				</li>
			</div>

		</ul>
	</div>
</body>
</html>